.slide-effect-enter {
  opacity: 0;
  transform: translateY(30px) translateZ(0);
}
.slide-effect-enter-active {
  opacity: 1;
  transform: translateY(0) translateZ(0);
  transition: 200ms;
}
.slide-effect-exit {
  opacity: 1;
  transform: translateY(0) translateZ(0);
}
.slide-effect-exit-active {
  opacity: 0;
  transform: translateY(30px) translateZ(0);
  transition: 200ms;
}
